.DashboardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 55px;
  padding: 40px;
  background-color: #4a4c4d;
}
.Dashboard_KPI {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 40px;
}
.Dashboard_KPI .KPI {
  min-width: 100%;
  height: 100%;
  background-color: #23262D;
  border: 1px solid #F6B156;
}
.UsersAsiment {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.UsersAsiment .Users {
  width: 100%;
  height: 200px;
  background-color: #23262D;
}
.Kpicards {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #23262D;
  font-size: 1.3rem;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.Symbol {
  position: absolute;
  top: -20px;
  left: -20px;
  display: flex;
  width: 80px;
  height: 80px;
  font-size: 3rem;
  font-weight: bold;
  background-color: #6FC308;
  justify-content: center;
  align-items: center;
  font-family: Sigmar;
  color: #fff;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 255, 0, 0.445);
}
.Symbol .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: #fff;
  color: black;
}
.CardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}
.CardContainer .CardTitle {
  display: flex;
  width: 100%;
  height: 80px;
  padding: 10px 70px;
  justify-content: left;
  align-items: center;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  border-bottom-left-radius: 20px;
}
.CardContainer .CardInfo {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 10px;
  border-bottom-left-radius: 20px;
}
.CardContainer .CardInfo ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #23262D;
  list-style: none;
  border-bottom-left-radius: 20px;
}
.CardContainer .CardInfo ul li {
  display: flex;
  padding: 1px;
}
.CardContainer .CardInfo ul li:nth-child(odd) {
  background-color: #99999916;
}
.CardContainer .CardInfo ul li :nth-child(1) {
  width: 100%;
  padding: 0 5px;
}
.CardContainer .CardInfo ul li :nth-child(2) {
  width: 50;
  font-weight: 700;
  padding: 0 5px;
}
