// out: "../src/index.css", compress: false, sourceMap: false
  //==================================================================//
 //                         FONTS IMPORT                             //
//==================================================================//

@import url("https://fonts.googleapis.com/css2?family=Rajdhani&family=Sigmar");

  //==================================================================//
 //                          COLOR PALETT                            //
//==================================================================//

@import "./palett.less";

  //==================================================================//
 //                        ICONS SETTINGS                            //
//==================================================================//
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 1, "opsz" 48;
}

  //==================================================================//
 //                          SETTINGS                                //
//==================================================================//
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: @bgColor;
  padding: 10px;
  color: @Color;
  font-size: 1rem;
  font-family: rajdhani;
}

  //==================================================================//
 //                          AppContainer                            //
//==================================================================//

@import "./app.less";

  //==================================================================//
 //                                header                            //
//==================================================================//

@import "./header.less";

  //==================================================================//
 //                                Aside                             //
//==================================================================//

@import "./aside.less";

  //==================================================================//
 //                               MAIN                               //
//==================================================================//

@import "./main.less";

  //==================================================================//
 //                           DASHBOARD                              //
//==================================================================//

@import "./dasboard.less";

  //==================================================================//
 //                           CHARTS                                 //
//==================================================================//

@import "./charts.less";

  //==================================================================//
 //                           PROFILE                                //
//==================================================================//

@import "./profile.less";


  //==================================================================//
 //                           ((((TEST))))                           //
//==================================================================//

@import "./test.less";


  //==================================================================//
 //                           ((((TEST))))                           //
//==================================================================//