// out:false

@primaryColor:#23262D;
@secondaryColor:#313139;
@bgColor:#19191B;
@assentColor:#01AEF0;
@Color:#696A6F;
@blue:#01AEF0;
@white:#fff;
@black:#000;
@red:#FE0102;
@green:#6FC308;
@yellow:#F6B156;
@orange:#F78E57;
@gray:#515257;
@lightGray:#999;
@darkGray:#3D3D3D;