@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/rajdhani/v15/LDIxapCSOBg7S-QT7q4A.ttf) format('truetype');
}
@font-face {
  font-family: 'Sigmar';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sigmar/v3/hv-XlzJgIE8a85pUbQ.ttf) format('truetype');
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 1, "opsz" 48;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #4a4c4d;
  color: #b6b6b6;
  font-size: 1rem;
  font-family: rajdhani;
}
.AppContainer {
  display: grid;
  width: 100%;
  min-height: calc(100vh - 20px);
  grid-template-columns: 120px repeat(1, 1fr);
  grid-template-rows: 80px repeat(1, 1fr);
  grid-template-areas: "aside header header header header header header header header" "aside main main main main main main main main" "aside main main main main main main main main" "aside main main main main main main main main";
}
header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: #23262D;
}
header .date {
  display: flex;
}
header .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
header .dropbox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.dropdown {
  width: 250px;
  position: relative;
}
.dropdown * {
  box-sizing: border-box;
}
.userName {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.userName .name {
  font-size: 1.2rem;
  font-weight: bold;
  padding-right: 20px;
}
.userName .userIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #01AEF0;
  box-shadow: 0 0 5px 0 #01AEF0;
  transition: box-shadow 0.3s ease-out;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 0px;
}
.userName .userIcon .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 0px;
}
.userName:hover .userIcon {
  box-shadow: 0 0 15px 0 #01AEF0;
}
.select-clicked {
  border: 2px solid #6FC308;
  box-shadow: 0 0 10px 0 #6FC308;
}
.menu {
  width: 200px;
  list-style: none;
  padding: 0.5rem;
  background-color: #23262D;
  color: #b6b6b6;
  border-top-left-radius: 20px;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0%;
  position: absolute;
  top: 5em;
  left: 45%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: all 0.5s ease;
  box-shadow: 0 0 5px 1px #01AEF0;
  z-index: 2;
}
.menu li {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 0.5rem 1rem;
  transition: background-color 0.5s ease;
  font-size: 1.2rem;
}
.menu li:hover,
.menu li a:hover {
  color: #01AEF0;
  background-color: #515257;
  font-size: 1.3rem;
}
.menu li a {
  display: flex;
  justify-content: left;
  align-items: center;
  color: #b6b6b6;
  text-decoration: none;
}
.menu li a :nth-child(1) {
  padding-right: 1rem;
}
.active {
  background-color: #01AEF0;
}
.menu-open {
  opacity: 1;
  display: block;
}
aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  grid-area: aside;
  background-color: #23262D;
}
aside .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 20px;
}
aside .logo img {
  width: 60px;
}
aside nav {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
}
aside nav ul {
  list-style: none;
  height: 100%;
  font-weight: bold;
}
aside nav ul li a {
  text-decoration: none;
  color: #b6b6b6;
}
aside nav ul li div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 115px;
  padding: 8px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
aside nav ul li div :nth-child(1) {
  font-size: 2rem;
  padding: 5px;
}
aside nav ul li div:hover {
  background-color: #515257;
  color: #01AEF0;
  font-size: 1.2rem;
}
main {
  grid-area: main;
}
.DashboardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 55px;
  padding: 40px;
  background-color: #4a4c4d;
}
.Dashboard_KPI {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 40px;
}
.Dashboard_KPI .KPI {
  min-width: 100%;
  height: 100%;
  background-color: #23262D;
  border: 1px solid #F6B156;
}
.UsersAsigment {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 40px;
}
.UsersAsigment .Users {
  width: 100%;
  height: 200px;
  background-color: #23262D;
}
.Kpicards {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #23262D;
  font-size: 1rem;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.Symbol {
  position: absolute;
  top: -20px;
  left: -20px;
  display: flex;
  width: 80px;
  height: 80px;
  font-size: 3rem;
  font-weight: bold;
  background-color: #6FC308;
  justify-content: center;
  align-items: center;
  font-family: Sigmar;
  color: #fff;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 255, 0, 0.445);
}
.Symbol .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: #fff;
  color: black;
}
.CardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}
.CardContainer .CardTitle {
  display: flex;
  width: 100%;
  height: 80px;
  padding: 10px 70px;
  justify-content: left;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border-bottom-left-radius: 20px;
}
.CardContainer .CardInfo {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 10px;
  border-bottom-left-radius: 20px;
}
.CardContainer .CardInfo ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #23262D;
  list-style: none;
  border-bottom-left-radius: 20px;
}
.CardContainer .CardInfo ul li {
  display: flex;
  padding: 1px;
}
.CardContainer .CardInfo ul li:nth-child(odd) {
  background-color: #99999916;
}
.CardContainer .CardInfo ul li :nth-child(1) {
  width: 100%;
  padding: 0 5px;
}
.CardContainer .CardInfo ul li :nth-child(2) {
  width: 50;
  font-weight: 700;
  padding: 0 5px;
}
.UserCards {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #23262D;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.UserCards .UserName {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}
.UserIcons {
  position: absolute;
  top: -20px;
  left: -20px;
  display: flex;
  width: 80px;
  height: 80px;
  font-size: 2.5rem;
  background-color: #6FC308;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 255, 0, 0.445);
}
.UserIcons .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: #fff;
  color: black;
}
.UserText {
  display: flex;
  width: 100%;
  height: 80px;
  padding: 10px 20px 0 80px;
  justify-content: left;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border-bottom-left-radius: 20px;
}
.UserData {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 10px;
  border-bottom-left-radius: 20px;
}
.UserData ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #23262D;
  list-style: none;
  border-bottom-left-radius: 20px;
}
.UserData ul li {
  display: flex;
  padding: 1px;
}
.UserData ul li:nth-child(odd) {
  background-color: #99999916;
}
.UserData ul li :nth-child(1) {
  width: 100%;
  padding: 0 5px;
}
.UserData ul li :nth-child(2) {
  width: 50;
  font-weight: 700;
  padding: 0 5px;
}
.charts_section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  height: 100%;
  background-color: #99999916;
}
.charts_section .charts {
  background-color: #23262D;
}
.chart_title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  height: 40px;
  width: 100%;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
}
.modal-main {
  position: fixed;
  background: #23262D;
  width: 60%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}
.display-block {
  display: block;
}
.display-none {
  display: none;
}
.modal-close {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #dddddd55;
}
.modal-close button {
  padding: 5px 20px;
}
.profile {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 10px;
  padding: 10px;
}
.profile_input {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  gap: 10px;
  background-color: #23262D;
}
.profile_chart_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #23262D;
}
.tab-list {
  font-weight: bold;
  border-bottom: 1px solid #b6b6b6;
  padding-left: 40px;
}
.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  background-color: #515257;
  border: 1px solid;
}
.tab-list-active {
  background-color: #23262D;
  border: 1px solid #b6b6b6;
  border-width: 1px 1px 0 1px;
}
.tab-content {
  display: flex;
  min-width: 640px;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.label {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: left;
  font-weight: bold;
  text-align: left;
  margin-right: 10px;
}
.Input {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
  margin-top: 5px;
}
.Input_field {
  width: 50px;
  text-align: center;
}
.data_input {
  display: grid;
  grid-template-rows: 30px 160px 60px;
  align-items: center;
  padding: 10px ;
  padding-left: 0px;
  border-radius: 8px;
}
.data_input button {
  background-color: #99999916;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  justify-self: center;
}
.data_input button:hover {
  background-color: #01AEF0;
}
.data_input h2 {
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  line-height: 40px;
  padding: 10px 0;
}
.data {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.profile_chart {
  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);
  height: calc(50% - 10px);
}
.profile_Radar {
  display: flex;
  flex-direction: row;
  width: calc(100% - 20px);
  height: calc(50% - 10px);
}
.profile_table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  height: 200px;
  border: 1px solid #515257;
}
.profile_table thead th {
  height: 60px;
  padding: 0 10px;
}
.profile_table th,
.profile_table td {
  padding: 0 10px;
  text-align: center;
  border-bottom: 1px solid #515257;
}
.profile_table th {
  background-color: #515257;
  width: 90px;
}
.profile_table tr:nth-child(even) {
  background-color: #99999916;
}
.profile_table button {
  background-color: #515257;
  border: none;
  color: white;
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 5px 2px;
  cursor: pointer;
}
.profile_table button:hover {
  background-color: #01AEF0;
}
.table-container {
  display: grid;
  width: 100%;
  height: 100%;
}
.adminContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: #4a4c4d;
  padding: 10px;
}
.asigmentContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
}
.asigmentContainer .asigment {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 10px;
  background-color: #23262D;
}
.asigmentContainer .asigment h2 {
  font-size: 0.9rem;
  text-align: center;
  padding: 5px;
}
.asigmentInput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  gap: 2px;
  padding: 5px;
}
.asigmentInput .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 1px 0 #01AEF0;
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: bold;
  color: #b6b6b6;
  padding: 4px;
  width: 30px;
  height: 30px;
}
.asigmentInput .btn:hover {
  box-shadow: 0 0 3px 0 #01AEF0;
  text-shadow: 0 0 3px #01AEF0;
}
.asigmentInput input {
  width: 30px;
  height: 25px;
  outline: none;
  border: none;
  text-align: center;
}
.asigmentInput input:focus {
  box-shadow: 0 0 3px 0 #01AEF0;
}
.select {
  width: 110px;
  height: 50px;
  padding: 10px;
  position: relative;
  font-size: 0.8rem;
}
.option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-shadow: 0 0 1px 0 #01AEF0;
}
.option .name {
  font-size: 1.2rem;
  font-weight: bold;
  padding-right: 20px;
}
.option:hover {
  box-shadow: 0 0 3px 0 #01AEF0;
}
.select-clicked {
  border: 2px solid #6FC308;
  box-shadow: 0 0 3px 0 #6FC308;
}
.menu {
  list-style: none;
  padding: 5px;
  background-color: #23262D;
  color: #b6b6b6;
  border-radius: 10px;
  position: absolute;
  top: 45px;
  left: 60px;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: all 0.5s ease;
  box-shadow: 0 0 1px 0 #01AEF0;
  z-index: 2;
}
.menu li {
  width: 100%;
  border-radius: 4px;
  padding: 5px;
  transition: background-color 0.5s ease;
  font-size: 0.8rem;
}
.menu li:hover,
.menu li a:hover {
  color: #01AEF0;
  background-color: #515257;
  font-size: 0.85rem;
}
.active {
  background-color: #01AEF0;
}
.menu-open {
  opacity: 1;
  display: block;
}
.UserAsigment {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 10px 0;
  border-bottom-left-radius: 20px;
  font-size: 0.8rem;
}
.UserAsigment ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  background-color: #23262D;
  list-style: none;
  border-bottom-left-radius: 20px;
}
.UserAsigment ul li {
  display: flex;
  align-items: center;
  padding: 1px;
}
.UserAsigment ul li:nth-child(odd) {
  background-color: #99999916;
}
.UserAsigment ul li :nth-child(1) {
  width: 100%;
  padding: 0 5px;
}
.UserAsigment ul li :nth-child(2) {
  width: 50;
  font-weight: 700;
  padding: 0 5px;
}
.UserAsigment ul li .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 1px 0 #01AEF0;
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: bold;
  color: #b6b6b6;
  padding: 4px;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.UserAsigment ul li .btn:hover {
  box-shadow: 0 0 3px 0 #01AEF0;
  text-shadow: 0 0 3px #01AEF0;
}
