@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/rajdhani/v15/LDIxapCSOBg7S-QT7q4A.ttf) format('truetype');
}
@font-face {
  font-family: 'Sigmar';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sigmar/v3/hv-XlzJgIE8a85pUbQ.ttf) format('truetype');
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 1, "opsz" 48;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1e1e20;
  padding: 10px;
  color: #b6b6b6;
  font-size: 1rem;
  font-family: rajdhani;
}
.AppContainer {
  display: grid;
  width: 100%;
  min-height: calc(100vh - 20px);
  grid-template-columns: 120px repeat(1, 1fr);
  grid-template-rows: 80px repeat(1, 1fr);
  grid-template-areas: "aside header header header header header header header header" "aside main main main main main main main main" "aside main main main main main main main main" "aside main main main main main main main main";
}
header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: #23262D;
}
header .date {
  display: flex;
}
header .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
header .dropbox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.dropdown-nav {
  padding: 0 1rem;
  z-index: 3;
  font-size: 1rem;
}
.dropdown-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.dropdown-nav ul li {
  display: flex;
  justify-content: left;
  align-items: center;
  list-style-type: none;
  position: relative;
  padding: 0.625rem 0 0.5rem;
}
.dropdown-nav ul li:hover > .sub-menu,
.dropdown-nav ul li:hover .sub-menu .sub-items:hover {
  display: flex;
  visibility: visible;
  opacity: 1;
}
.dropdown-nav ul li .icon-menu {
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  color: #b6b6b6;
  transition: all 0.3s ease-out;
}
.dropdown-nav ul li .icon-menu:hover {
  color: #01AEF0;
  transform: scale(1);
  cursor: pointer;
}
.dropdown-nav ul .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 255, 0, 0.445);
  background-color: #01AEF0;
}
.dropdown-nav ul .avatar .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 50%;
  background-color: #fff;
  color: black;
}
.dropdown-nav ul .li-username {
  color: #b6b6b6;
  display: inline-block;
  width: 150px;
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold;
}
.sub-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  align-items: flex-start;
  width: 12rem;
  right: -0.5rem;
  top: 4.5rem;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  gap: 0;
  padding: 1rem 0;
  opacity: 0;
}
.sub-menu .sub-items {
  width: 100%;
}
.sub-menu .sub-items .icon-menu {
  padding: 10px 0;
  padding-left: 20px;
}
.sub-menu .sub-items p {
  padding: 0 10px;
}
aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  grid-area: aside;
  background-color: #23262D;
}
aside .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  padding: 20px;
}
aside .logo img {
  width: 60px;
}
aside nav {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}
aside nav ul {
  list-style: none;
  height: 100%;
  font-weight: bold;
}
aside nav ul li a {
  text-decoration: none;
  color: #b6b6b6;
  background-color: #23262D;
}
aside nav ul li div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 115px;
  padding: 8px;
  transition: background-color 0.5s ease;
  cursor: pointer;
}
aside nav ul li div :nth-child(1) {
  font-size: 2rem;
  padding: 5px;
}
aside nav ul li div:hover {
  background-color: #949497;
  color: #01AEF0;
}
main {
  grid-area: main;
}
.DashboardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 55px;
  padding: 40px;
  background-color: #4a4c4d;
}
.Dashboard_KPI {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 40px;
}
.Dashboard_KPI .KPI {
  min-width: 100%;
  height: 100%;
  background-color: #23262D;
}
.UsersAsigment {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 2fr));
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 40px;
}
.UsersAsigment .Users {
  width: 100%;
  height: 200px;
  background-color: #23262D;
}
.Kpicards {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #23262D;
  font-size: 1rem;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.Symbol {
  position: absolute;
  top: -20px;
  left: -20px;
  display: flex;
  width: 80px;
  height: 80px;
  font-size: 3rem;
  font-weight: bold;
  background-color: #6FC308;
  justify-content: center;
  align-items: center;
  font-family: Sigmar;
  color: #fff;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 255, 0, 0.445);
}
.Symbol .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: #fff;
  color: black;
}
.CardContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}
.CardContainer .CardTitle {
  display: flex;
  width: 100%;
  height: 80px;
  padding: 10px 10px 0 70px;
  justify-content: left;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border-bottom-left-radius: 20px;
}
.CardContainer .CardInfo {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 10px;
  border-bottom-left-radius: 20px;
}
.CardContainer .CardInfo ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #23262D;
  list-style: none;
  border-bottom-left-radius: 20px;
}
.CardContainer .CardInfo ul li {
  display: flex;
  padding: 1px;
}
.CardContainer .CardInfo ul li:nth-child(odd) {
  background-color: #99999916;
}
.CardContainer .CardInfo ul li :nth-child(1) {
  width: 100%;
  padding: 0 5px;
}
.CardContainer .CardInfo ul li :nth-child(2) {
  width: 50;
  font-weight: 700;
  padding: 0 5px;
}
.UserCards {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #23262D;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.UserCards .UserName {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}
.UserIcons {
  position: absolute;
  top: -20px;
  left: -20px;
  display: flex;
  width: 80px;
  height: 80px;
  font-size: 2.5rem;
  background-color: #6FC308;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #fff;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 255, 0, 0.445);
}
.UserIcons .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: #fff;
  color: black;
}
.UserText {
  display: flex;
  width: 100%;
  height: 80px;
  padding: 10px 10px 0 70px;
  justify-content: left;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border-bottom-left-radius: 20px;
}
.UserData {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 10px;
  border-bottom-left-radius: 20px;
}
.UserData ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #23262D;
  list-style: none;
  border-bottom-left-radius: 20px;
}
.UserData ul li {
  display: flex;
  padding: 1px;
}
.UserData ul li:nth-child(odd) {
  background-color: #99999916;
}
.UserData ul li :nth-child(1) {
  width: 100%;
  padding: 0 5px;
}
.UserData ul li :nth-child(2) {
  width: 50;
  font-weight: 700;
  padding: 0 5px;
}
